<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TASagentStreamBot WebServer</title>
  <link rel="stylesheet" href="~/Assets/libs/bootstrap/5/cyborg/bootstrap.min.css" />
  <link rel="stylesheet" href="~/Assets/css/site.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TASagentStreamBot WebServer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
              -->
            @if (User.IsInRole("Admin"))
            {
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="UserRoles" asp-action="Index">UserRoles</a>
              </li>
            }


          </ul>
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2021 - TASagentStreamBot WebServer<!-- - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
    </div>
  </footer>
  <script src="~/Assets/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="~/Assets/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="~/Assets/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
